.the-logo {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--n-color);
  transition: width .3s var(--n-bezier);
}

.logo-img {
  width: 30px;
  height: 30px;
}

.logo-title {
  font-size: 20px;
  margin: 0 0 0 16px;
}
